[submodule "kaggle-abalone"]
	path = kaggle-abalone
	url = https://github.com/minimartzz/kaggle-abalone.git
[submodule "poison-mushrooms"]
	path = poison-mushrooms
	url = https://github.com/minimartzz/poison-mushrooms.git
[submodule "podcast-listening-time"]
	path = podcast-listening-time
	url = https://github.com/minimartzz/podcast-listening-time
[submodule "drw-crypto-market-prediction"]
	path = drw-crypto-market-prediction
	url = https://github.com/minimartzz/drw-crypto-market-prediction.git
[submodule "math-misunderstandings"]
	path = math-misunderstandings
	url = https://github.com/minimartzz/math-misunderstandings.git
